name: Publish Any Commit
on: [push, pull_request]

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm

      - name: Build
        run: pnpm run build

      - name: Publish
        run: pnpm dlx pkg-pr-new publish './packages/*'
